# .ipynb
nbformat
ipykernel
nb-clean
import-ipynb

# basic python
mypy
python-dotenv
scikit-learn
numpy
pandas
# displaying
plotly
seaborn
matplotlib
tqdm

# BERTopic / Transformers
bertopic
keybert
transformers
huggingface_hub
datasets

# pre-procecssing
beautifulsoup4
emoji
lxml

# google
google-genai
#google-generativeai
